/*css for final project home page*/
.navbar-nav > li > a, .navbar-brand { 
	padding-top: 40px !important;
	height: 8px !important;
	}

.nav a{	
	color
	: white !important;
	font-size: 1.4em !important;
}


.navbar-brand {
	color: white !important;
}

#myCarousel {
	margin-top: 30px !important;
}

.stats{
	color: white;
	background-color: #222222;
	/*border-style: solid;
    border-bottom-color: #D4D2D5;*/
}

.purpose{
	color: white;
	background-color: #222222;
	border-style: solid;
    border-bottom-color: #D4D2D5;
}

